@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary-1: #5D8736;
    --color-primary-2: #4E712D;
    --color-primary-3: #789B58;
    --color-primary-4: #3E5A24;
    --color-primary-5: #93AF79;
    --color-primary-6: #2F441B;
    --color-primary-7: #AEC39A;
    --color-primary-8: #1F2D12;
    --color-primary-9: #C9D7BC;
    --color-primary-10: #131B0B;
    --color-primary-11: #DFE7D7;

    --color-secondary-1: #809D3C;
    --color-secondary-2: #6B8332;
    --color-secondary-3: #95AD5D;
    --color-secondary-4: #556928;
    --color-secondary-5: #AABE7D;
    --color-secondary-6: #404F1E;
    --color-secondary-7: #BFCE9D;
    --color-secondary-8: #2B3414;
    --color-secondary-9: #D5DEBE;
    --color-secondary-10: #1A1F0C;
    --color-secondary-11: #E6EBD8;

    --color-accent-1: #A9C46C;
    --color-accent-2: #8DA35A;
    --color-accent-3: #B7CE84;
    --color-accent-4: #718348;
    --color-accent-5: #C6D89D;
    --color-accent-6: #556236;
    --color-accent-7: #D4E1B5;
    --color-accent-8: #384124;
    --color-accent-9: #E2EBCE;
    --color-accent-10: #222716;
    --color-accent-11: #EEF3E2;

    --color-lighter-1: #F4FFC3;
    --color-lighter-2: #CBD4A2;
    --color-lighter-3: #F6FFCD;
    --color-lighter-4: #A3AA82;
    --color-lighter-5: #F8FFD7;
    --color-lighter-6: #7A8062;
    --color-lighter-7: #F9FFE1;
    --color-lighter-8: #515541;
    --color-lighter-9: #FBFFEB;
    --color-lighter-10: #313327;
    --color-lighter-11: #FDFFF3;

    --color-darker-1: #0C1100;
    --color-darker-2: #141C00;
    --color-darker-3: #1F2A00;
    --color-darker-4: #293700;
    --color-darker-5: #334500;
    --color-darker-6: #3D5300;
    --color-darker-7: #5D702B;
    --color-darker-8: #7E8C55;
    --color-darker-9: #9EA980;
    --color-darker-10: #BEC6AA;
    --color-darker-11: #D8DDCC;

    --color-black-1: #000000;
    --color-black-2: #2B2B2B;
    --color-black-3: #555555;
    --color-black-4: #808080;
    --color-black-5: #AAAAAA;
    --color-black-6: #CCCCCC;

    --color-white-1: #FFFFFF;
    --color-white-2: #D4D4D4;
    --color-white-3: #AAAAAA;
    --color-white-4: #808080;
    --color-white-5: #555555;
    --color-white-6: #333333;

    --color-grey-1: #F5F5F5;
    --color-grey-2: #6B6B6B;
    --color-grey-3: #959595;
    --color-grey-4: #555555;
    --color-grey-5: #AAAAAA;
    --color-grey-6: #404040;
    --color-grey-7: #BFBFBF;
    --color-grey-8: #2B2B2B;
    --color-grey-9: #D4D4D4;
    --color-grey-10: #1A1A1A;
    --color-grey-11: #E6E6E6;

    /* Font Families */
    --font-main: 'Plus Jakarta Sans', sans-serif;
}

@layer utilities {

    /* Caption */

    .caption-1 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xs);
        font-weight: var(--font-weight-extrabold);
        line-height: 12px;
    }

    .caption-2 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xs);
        font-weight: var(--font-weight-bold);
        line-height: 12px;
    }

    .caption-3 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xs);
        font-weight: var(--font-weight-semibold);
        line-height: 12px;
    }

    .caption-4 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xs);
        font-weight: var(--font-weight-medium);
        line-height: 12px;
    }

    .caption-5 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xs);
        font-weight: var(--font-weight-normal);
        line-height: 12px;
    }

    .caption-6 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xs);
        font-weight: var(--font-weight-light);
        line-height: 12px;
    }

    /* Regular */

    .regular-1 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-base);
        font-weight: var(--font-weight-extrabold);
        line-height: 14px;
    }

    .regular-2 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-base);
        font-weight: var(--font-weight-bold);
        line-height: 14px;
    }

    .regular-3 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-base);
        font-weight: var(--font-weight-semibold);
        line-height: 24px;
    }

    .regular-4 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-base);
        font-weight: var(--font-weight-medium);
        line-height: 24px;
    }

    .regular-5 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-base);
        font-weight: var(--font-weight-normal);
        line-height: 24px;
    }

    .regular-6 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-base);
        font-weight: var(--font-weight-light);
        line-height: 16px;
    }

    /* Medium */

    .medium-1 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xl);
        font-weight: var(--font-weight-extrabold);
        line-height: 16px;
    }

    .medium-2 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xl);
        font-weight: var(--font-weight-bold);
        line-height: 16px;
    }

    .medium-3 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
        line-height: 16px;
    }

    .medium-4 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xl);
        font-weight: var(--font-weight-medium);
        line-height: 16px;
    }

    .medium-5 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xl);
        font-weight: var(--font-weight-normal);
        line-height: 20px;
    }

    .medium-6 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-xl);
        font-weight: var(--font-weight-light);
        line-height: 16px;
    }

    /* Large */

    .large-1 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-extrabold);
        line-height: 24px;
    }

    .large-2 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-bold);
        line-height: 24px;
    }

    .large-3 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-semibold);
        line-height: 24px;
    }

    .large-4 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-medium);
        line-height: 24px;
    }

    .large-5 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-normal);
        line-height: 24px;
    }

    .large-6 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-light);
        line-height: 24px;
    }

    /* Extra Large */

    .extralarge-1 {
        font-family: var(--font-main), sans-serif;
        font-size: 1.75rem;
        font-weight: var(--font-weight-extrabold);
        line-height: 32px;
    }

    .extralarge-2 {
        font-family: var(--font-main), sans-serif;
        font-size: 1.75rem;
        font-weight: var(--font-weight-bold);
        line-height: 24px;
    }

    .extralarge-3 {
        font-family: var(--font-main), sans-serif;
        font-size: 1.75rem;
        font-weight: var(--font-weight-semibold);
        line-height: 24px;
    }

    .extralarge-4 {
        font-family: var(--font-main), sans-serif;
        font-size: 1.75rem;
        font-weight: var(--font-weight-medium);
        line-height: 24px;
    }

    .extralarge-5 {
        font-family: var(--font-main), sans-serif;
        font-size: 1.75rem;
        font-weight: var(--font-weight-normal);
        line-height: 24px;
    }

    .extralarge-6 {
        font-family: var(--font-main), sans-serif;
        font-size: 1.75rem;
        font-weight: var(--font-weight-light);
        line-height: 24px;
    }

    /* Headline */

    .headline-1 {
        font-family: var(--font-main), sans-serif;
        font-size: 2rem;
        font-weight: var(--font-weight-extrabold);
        line-height: 42px;
    }

    .headline-2 {
        font-family: var(--font-main), sans-serif;
        font-size: 2rem;
        font-weight: var(--font-weight-bold);
        line-height: 42px;
    }

    .headline-3 {
        font-family: var(--font-main), sans-serif;
        font-size: 2rem;
        font-weight: var(--font-weight-semibold);
        line-height: 42px;
    }

    .headline-4 {
        font-family: var(--font-main), sans-serif;
        font-size: 2rem;
        font-weight: var(--font-weight-medium);
        line-height: 42px;
    }

    .headline-5 {
        font-family: var(--font-main), sans-serif;
        font-size: 2rem;
        font-weight: var(--font-weight-normal);
        line-height: 42px;
    }

    .headline-6 {
        font-family: var(--font-main), sans-serif;
        font-size: 1.5rem;
        font-weight: var(--font-weight-medium);
        line-height: 42px;
    }

    /* Heading */

    .heading-1 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-4xl);
        font-weight: var(--font-weight-extrabold);
        line-height: 56px;
    }

    .heading-2 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-4xl);
        font-weight: var(--font-weight-bold);
        line-height: 56px;
    }

    .heading-3 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-4xl);
        font-weight: var(--font-weight-semibold);
        line-height: 56px;
    }

    .heading-4 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-4xl);
        font-weight: var(--font-weight-medium);
        line-height: 56px;
    }

    .heading-5 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-4xl);
        font-weight: var(--font-weight-normal);
        line-height: 56px;
    }

    .heading-6 {
        font-family: var(--font-main), sans-serif;
        font-size: var(--text-4xl);
        font-weight: var(--font-weight-light);
        line-height: 56px;
    }

    /* Title */

    .title-1 {
        font-family: var(--font-main), sans-serif;
        font-size: 4rem;
        font-weight: var(--font-weight-extrabold);
        line-height: 64px;
    }

    .title-2 {
        font-family: var(--font-main), sans-serif;
        font-size: 2.5rem;
        font-weight: var(--font-weight-bold);
        line-height: 64px;
    }

    .title-3 {
        font-family: var(--font-main), sans-serif;
        font-size: 2.5rem;
        font-weight: var(--font-weight-semibold);
        line-height: 64px;
    }

    .title-4 {
        font-family: var(--font-main), sans-serif;
        font-size: 2.5rem;
        font-weight: var(--font-weight-medium);
        line-height: 64px;
    }

    .title-5 {
        font-family: var(--font-main), sans-serif;
        font-size: 2.5rem;
        font-weight: var(--font-weight-normal);
        line-height: 64px;
    }

    .title-6 {
        font-family: var(--font-main), sans-serif;
        font-size: 2.5rem;
        font-weight: var(--font-weight-light);
        line-height: 64px;
    }
}

:root {
    font-family: var(--font-main), sans-serif;
}

* {
    font-family: var(--font-main), sans-serif;
}
